@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    color: #0f0f0f;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}